<% title "Edit Page" %>

<% form_for(@page, :url => admin_page_path(@page)) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p>  
  <%= link_to 'Show', "/pages/#{@page.permalink}" %> |
  <%= link_to "View All", admin_pages_path %>
</p>
