<% title "New Page" %>

<% form_for(@page, :url => {:controller => "admin/pages", :action => "create"}) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p><%= link_to "Back to List", admin_pages_path %></p>